{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    <form method="post" action="{{ path('app_register') }}">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="plainPassword">Password:</label>
            <input type="password" id="plainPassword" name="plainPassword" required>
        </div>
        <button type="submit" class="btn">Register</button>
    </form>
{% endblock %}
